@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.flex-box {
  width: 90%;
  max-width: 800px;
  min-width: 290px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 2px;
  background-color: rgb(235, 189, 212);
}

.flex-box li {
  /* gap 2px 곱하기 사진 4개 = 8%  */
  width: calc((100% - 8%) / 5);
}

.flex-box li a img {
  width: 100%;

}

/* 768px일 때 */
@media (max-width: 768px) {
  .flex-box li {
    width: calc((100% - 8%) / 3);
  }
}

/* 480px일 때 */
@media (max-width: 480px) {
  .flex-box li {
    width: calc((100% - 2%) / 2);
  }
}

/* 390px일 때 */
@media (max-width: 390px) {
  .flex-box li {
    width: 100%;
  }
}
